.rulesetEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4em;
  padding: .5em 1em;
  box-sizing: border-box;
  border-bottom: $border-light;

  &:first-of-type {
    border-top: $border-light;
  }

  .data {
    flex-grow: 1;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .name {
      font-weight: normal;
      color: $text-primary;
      //width: 35%;
    }

    .counts {
      color: $text-primary;
      //width: 25%;
    }
  }

  .controls {

  }
}
