.label {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: .5em;
  flex-direction: row;
  margin-bottom: 2em;
  overflow: hidden;
  width: 42em;

  .color {
    width: .5em;
  }

  .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;

    .topRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #dddddd;
      padding-bottom: .5em;
      margin-bottom: .5em;

      .icon {
        color: #999999;
      }

      h2 {
        font-size: 1.1em;
      }
    }

    p {
      margin-bottom: .5em;
    }

    .parameterList {
      padding-left: .5em;
    }
  }
}

.label1 .color { background-color: #029D62}
.label2 .color { background-color: #02AC71}
.label3 .color { background-color: #01BB81}
.label4 .color { background-color: #01C992}
.label5 .color { background-color: #00D8A5}
.label6 .color { background-color: #28F5C9}
.label7 .color { background-color: #4FFFE9}
.label8 .color { background-color: #77FFFF}
.label9 .color { background-color: #9EFFFF}

.labelOther1 .color { background-color: #3186FF}
.labelOther2 .color { background-color: #3946FF}
.labelOther3 .color { background-color: #7F43FF}
.labelOther4 .color { background-color: #D150FF}
.labelOther5 .color { background-color: #FF61FF}
.labelOther6 .color { background-color: #FF79E6}
.labelOther7 .color { background-color: #FF91B6}
.labelOther8 .color { background-color: #FFAAAA}
.labelOther9 .color { background-color: #FFDBC2}
