.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &:not(:first-of-type) {
    margin-top: 2em;
  }

  .titleRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1.5em;
    padding-bottom: .5em;

    h1 {
      color: #666666;
      flex-grow: 1;
      font-size: 1.4em;
    }

    .buttonWrapper {
      font-size: 2em;
    }
  }

  .content {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }
}
