.rulesetForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6em;
    align-items: center;
    justify-content: center;

    .name {
      flex-grow: 2;
      margin-left: 0;
    }

    .button {
      flex-grow: 1;
      margin: 0 0 0 2em;
      max-width: 15em;
    }
  }


  .errorMessage {
    color: red;
    font-weight: 300;
    font-size: .9em;
  }
}
