.label {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: .5em;
  flex-direction: row;
  margin-bottom: 2em;
  overflow: hidden;

  .color {
    width: .5em;
  }

  .inner {
    display: flex;
    flex-direction: column;
    padding: 1em;

    h2 {
      font-size: 1.1em;
      border-bottom: 1px solid #dddddd;
      width: 100%;
      padding-bottom: .5em;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }
  }
}



.label1 .color { background-color: #5BAF82}
.label2 .color { background-color: #647CB6}
.label3 .color { background-color: #BA6DBD}
.label4 .color { background-color: #C48576}
.label5 .color { background-color: #A9CA7F}
.label6 .color { background-color: #5FABB3}
.label7 .color { background-color: #8368BA}
.label8 .color { background-color: #C17193}
.label9 .color { background-color: #C7BA7A}
