.rowTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .tableRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    //border-bottom: $border;
    margin: 0.1em 0;
    background-color: #f9f9f9;

    &:first-of-type {
      //border-top: $border;
    }

    .index {
      margin: 0 1em;
      min-width: 15%;
      color: $text-primary-lighter;
      font-weight: normal;
    }

    .value{
      margin-right: 1em;
      min-width: 20%;
      color: $text-primary;
      font-weight: normal;
    }

    .button {
      margin: 0 1em 0 auto;
    }

    .separator {
      font-weight: normal;
      color: $text-primary;
      padding: .5em 0;
      margin: 0 1em;
    }

    &:has(.separator) {
      background-color: transparent;
    }
  }
}
