.participant {
  .tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .tile {
      width: 30%;
      padding: 1em;
      margin: 1em;
      box-sizing: border-box;
      border-radius: $border-radius;
      border: $border;

      h3 {
        color: $text-primary-darker;
        border-bottom: $border;
        text-align: center;
        margin-bottom: 1em;
        padding: 0 1em 1em 1em;
      }

      p {
        font-size: 1.3em;
        text-align: center;
        color: $text-primary-darker;
      }
    }

    a.tile{
      cursor: pointer;

      &:hover,
      &:active {
        box-shadow: 0 0 .5em $highlight;

        h3, p {
          color: $primary;
        }
      }
    }
  }
}
