$min-mobile: "min-width: 320px";
$min-mobile-large: "min-width: 480px";
$min-tablet: "min-width: 768px";
$min-laptop: "min-width: 960px";
$min-desktop: "min-width: 1200px";
$min-large: "min-width: 1400px";
