.aggregateMetric {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .title {
    width: 100%;
    padding: 0 2em;
    margin: 1em 0 2em 0;
    box-sizing: border-box;

    h2 {
      font-size: 1.35em;
      font-weight: normal;
      color: $text-primary;
      padding-bottom: .45em;
      margin-bottom: .45em;
      border-bottom: $border;
    }
  }

  .graphsAndTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .charts {
      width: 70%;
      box-sizing: border-box;
      padding-right: 4em;

      .histogram {
        height: 20em;
      }

      .boxPlot {
        height: 12em;
        svg {
          padding-bottom: 14em;
        }
      }
    }

    .table {
      width: 30%;
    }
  }
}
