.labelStatistics {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .pieChart{
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    height: 12em;
    width: 12em;
    padding: 1em 3em 1em 1em;

    text {
      fill: $text-primary;
    }
  }

  .parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    & > .parameter {
      width: 30%;
      padding: 1em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .label {
        color: $text-primary;
        font-weight: 500;
        font-size: 1.1em;
        padding-bottom: .5em;
        margin-bottom: .5em;
        border-bottom: $border;
        width: 90%;
      }

      .value {
        color: $text-primary-darker;
        font-weight: 300;
        font-size: 1.25em;
      }
    }
  }
}
